Weather Alert Automation.json
{
  "name": "Weather Alert Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -64
      ],
      "id": "0d53ae11-51f1-4b91-9886-390837591629",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://api.weatherapi.com/v1/current.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "5a6c5b7057a444079d153254252511"
            },
            {
              "name": "q",
              "value": "dhaka"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        -64
      ],
      "id": "a1d8e522-1e35-4d19-9798-673433db11a6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Current & Location",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        176,
        -64
      ],
      "id": "d57cb06e-48cd-4c24-9f46-7ea675fb114c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        112
      ],
      "id": "567d4bd7-fac6-4e5a-a019-99ef9e7de4d1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "r6hIxyumB6xst3zQ",
          "name": "abeshrahman554@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Current & Location'] }}",
        "options": {
          "systemMessage": "=You are a helpful assYou are a weather information agent. You will receive structured weather data from an API response, including location details, temperature, weather condition, humidity, wind speed, precipitation, and related fields. Your task is to transform this raw data into a clear, accurate, and human-readable weather report without adding assumptions, opinions, or external information. Always base your response strictly on the provided data. Use simple professional language, keep the output concise, and present the weather information in a natural sentence format that can be shown directly to end users. Do not mention APIs, JSON, or technical terms in the final output.\n\nNow, below is a demo response assuming the agent receives typical WeatherAPI current weather data.\n\nDemo input idea (you do not show this to users):\nLocation: Dhaka\nTemperature: 31°C\nCondition: Partly cloudy\nFeels like: 34°C\nHumidity: 68%\nWind: 12 km/h from south\nPrecipitation: 0 mmistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -64
      ],
      "id": "ead2489d-de64-4873-ab09-9247faab308e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "7243687927",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        -64
      ],
      "id": "3332ca5b-f3b4-43d5-bf21-79af8362e211",
      "name": "Send a text message",
      "webhookId": "22a4c07b-fe70-4b24-ab9a-ef9fadba2c5b",
      "credentials": {
        "telegramApi": {
          "id": "aNkLIsWwslDvGeJ5",
          "name": "Telegram API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "73b7de4a-9bd3-4c69-a41f-fab86d60be49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa7a6b00703250dcbefcb510baac06d8bd02203b4f9c49a6f275db8e3adde34"
  },
  "id": "Fz8uwdavqAE5o7JJtPFHE",
  "tags": []
}